<div class="scroll-to-top">
    <div class="arrow-up"></div>
</div>

<script>
    (() => {
        const oTopBtn = document.querySelector('.scroll-to-top');
        document.addEventListener('scroll', () => {
            const scrollY = window.scrollY;
            if (scrollY > 200 && !oTopBtn.classList.contains('active')) {
                oTopBtn.classList.add('active');
            }
            else if (scrollY < 200 && oTopBtn.classList.contains('active')) {
                oTopBtn.classList.remove('active');
            }
        })

        oTopBtn.addEventListener('click', () => {
            document.body.scrollIntoView({
                behavior: "smooth",
                inline: "nearest"
            });
        })
    })()
</script>

<style>
    .scroll-to-top {
        position: fixed;
        right: 20px;
        bottom: 60px;
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        display: none;
        transition: all .4s ease;
        cursor: pointer;
        z-index: 97;
    }

    .scroll-to-top.active {
        display: block;
    }

    .scroll-to-top .arrow-up {
        position: absolute;
        left: 50%;
        top: 48%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #409EFFb7;
    }
</style>