.back {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  z-index: 98;
}
.back a {
  padding: 0 10px;
}
.back a span {
  color: #203951b7;
  font-size: 1rem;
}
.showSide {
  position: fixed;
  right: 20px;
  bottom: 130px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 97;
  text-align: center;
  line-height: 50px;
}
.showSide span {
  color: #409EFFb7;
}
.side {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 99;
}
.side .catalog {
  float: right;
  background: #fff;
  padding: 18px;
  width: 300px;
  height: calc(100% - 36px);
  overflow: auto;
  line-height: 24px;
}
.side .catalog .level1 {
  font-weight: 800;
  font-size: 1.2em;
}
.side .catalog .level2 {
  padding-left: 16px;
  font-size: 1.1em;
  font-weight: 600;
}
.side .catalog .level3 {
  padding-left: 32px;
}
.main {
  overflow: auto;
  /* Header
  -------------------- */
  /* Text Formating
  -------------------- */
  /* Horizontal Rule
  -------------------- */
  /* Cites
  -------------------- */
  /* Table
  -------------------- */
  /* Code Block
  -------------------- */
  /* List
  -------------------- */
  /* Link
  -------------------- */
  /* Image
  -------------------- */
}
.main .img-panel {
  text-align: center;
}
.main .img-panel img {
  width: 880px;
}
.main #content {
  line-height: 38px;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 12px 40px;
}
@media screen and (max-width: 940px) {
  .main .img-panel img {
    max-width: 100%;
  }
  .main #content {
    padding: 12px 26px;
  }
}
.main #content h1,
.main #content h2,
.main #content h3 {
  cursor: default;
}
.main #content h1 {
  margin: 20px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}
.main #content h2 {
  position: relative;
  margin: 16px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 1.7rem;
  font-weight: 700;
  padding-left: 8px;
}
.main #content h2::before {
  content: "#";
  position: absolute;
  top: 0;
  left: -12px;
  color: #3d9eee;
}
.main #content h3 {
  position: relative;
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.main #content h4 {
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: 500;
}
.main #content p {
  margin: 12px 0;
}
.main #content code {
  margin: 0 2px;
  padding: 3px 5px;
  border-radius: 2px;
  color: #ec5a16;
  background-color: #eee;
}
.main #content hr {
  height: 2px;
  margin: 16px 0;
  border: none;
  background-color: #ccc;
}
.main #content blockquote {
  border-left: 4px solid #0eaeec;
  padding: 10px 15px;
  color: #666;
  background-color: #dbf3fd;
  overflow: auto;
  margin: 20px 0;
}
.main #content table {
  border-spacing: 0;
  border-collapse: collapse;
}
.main #content table th,
.main #content table td {
  padding: 6px 12px;
  border: 1px solid #dfe2e5;
}
.main #content table tr {
  background-color: #fff;
}
.main #content table thead tr,
.main #content table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}
.main #content pre code {
  display: block;
  padding: 16px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #23241f;
  color: #e4e4e4;
  font-size: 14px;
  line-height: 22px;
  white-space: pre;
  overflow-x: auto;
}
.main #content ul {
  padding-left: 20px;
  list-style-type: disc;
}
.main #content ul li {
  margin: 8px 0;
}
.main #content ul ul {
  list-style-type: circle;
}
.main #content ul ul ul {
  list-style-type: square;
}
.main #content a {
  color: #0eaeec;
  font-weight: bold;
}
.main #content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 16px auto;
}
